# Configuración de Supabase Local
SUPABASE_URL=http://127.0.0.1:54321
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_JWT_SECRET=

# URL del AI-component (en docker compose: http://ai-component:8001)
AI_COMPONENT_URL=http://localhost:8001
